{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{website_config.site_title}}</title>
{% endblock title %}

{% block body_content %}
<hr>

<div class="row">
    <div class="col-12">
        <img src="{{banner.image.url}}" style="height: 600px; width: 100%;" alt="...">
    </div>
</div>

<hr>
<h1>Our Feature</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for featuer in featuers %}
    <div class="col">
        <div class="card h-100">
            <img src="{{featuer.icon.url}}" class="card-img-top" alt="{{featuer.icon.name}}" style="padding: 15px;">
            <div class="card-body">
                <h5 class="card-title">{{featuer.title|title}}</h5>
                <p class="card-text">{{featuer.tags}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<hr>

<h1>Our Technologies</h1>
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for technology in technologies %}
    <div class="col">
        <div class="card h-100">
            <img src="{{technology.icon.url}}" class="card-img-top" alt="{{technology.icon.name}}"
                style="padding: 15px;">
            <div class="card-body">
                <h5 class="card-title">{{technology.title}}</h5>
                <p class="card-text">{{technology.tags|truncatewords:10}}</p>
                <!-- <a href="" class="btn btn-primary">See More</a> -->
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<hr>


<h1>Our Blog</h1>
<div class="row row-cols-1 row-cols-md-5 g-4">
    {% for blog in blogs %}
    <div class="col">
        <div class="card h-100">
            <img src="{{blog.image.url}}" class="card-img-top" alt="{{blog.image.name}}">
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.tags|truncatewords:10}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<hr>
<h1>Customer Feedback</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">

    {% for customer_feedback in customer_feedbacks %}
    <div class="col">
        <div class="card">
            <img src="{{customer_feedback.image.url}}" class="card-img-top" alt="{{customer_feedback.image.name}}">
            <div class="card-body">
                <h5 class="card-title">{{customer_feedback.title}}</h5>
                <p class="card-text">{{customer_feedback.tags|truncatewords:10}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<hr>
<h1>Templates</h1>
<div class="row row-cols-1 row-cols-md-6 g-4">
    {% for template in templates %}
    <div class="col">
        <div class="card h-100">
            {% if template.image %}
            <img src="{{template.image.url}}" class="card-img-top" alt="{{template.image.name}}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{template.title}}</h5>
                <p class="card-text">Price {{template.price}}</p>
                <a href="{{template.preview_url}}" class="btn btn-primary" target="_blank">Preview</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<hr>

<div class="row">
    <div class="col-12">
        <img src="{{map_images.image.url}}" style="height: 600px; width: 100%;" alt="{{map_images.image.name}}">
    </div>
</div>

<hr>
<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-2 border-top">
    {% for office_addres in office_address %}
    <div class="col mb-12">
        <p class="text-muted">Address: {{office_addres.address}}</p>
        <p class="text-muted">Email: {{office_addres.email}}</p>
        <p class="text-muted">Phone: {{office_addres.phone_number}}</p>
        <p class="text-muted">Fax: {{office_addres.fax_number}}</p>
    </div>
    {% endfor %}
</footer>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted"></p>

    {% for social_link in social_links %}
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="{{social_link.icon.url}}" alt="{{social_link.icon.name}}" width="40" height="40">
    </a>
    {% endfor %}

    <ul class="nav col-md-4 justify-content-end">
    </ul>
  </footer>
<hr>



{% endblock body_content %}