{% extends '../dashboard.html' %}

{% block dashboard_title %}
<title>Blog</title>
{% endblock dashboard_title %}

{% block dashboard_body %}
<a href="{% url 'blog_add' %}">New Add</a>

<br><br>


<div class="row">
  <div class="col-12">
    <div class="row row-cols-1 row-cols-md-3 g-4">

      {% for blog in blogs %}
      <div class="col">
        <div class="card h-100">
          {% if blog.image %}
          <img src="{{blog.image.url}}" class="card-img-top" alt="{{blog.image.name}}">
          {% endif %}
          <div class="card-body">
            <p>{{blog.title}}</p>
            <p>{{blog.tags}}</p>
            <p>{{blog.description}}</p>

            <form method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger" value="{{blog.id}}" name="blog_delete">Delete</button>

              {% if blog.is_active == True %}
              <button type="submit" value="{{blog.id}}" name="blog_status" class="btn btn-primary">Active</button>
              {% else %}
              <button type="submit" value="{{blog.id}}" name="blog_status"
                class="btn btn-outline-primary">Inactive</button>
              {% endif %}
            </form>

            <a href="{% url 'blog_update' blog.id %}">Edit</a>


          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock dashboard_body %}